*.class
TODO
/.idea

/src/main/java/gluon/contract/parsing/analysis/
/src/main/java/gluon/contract/parsing/lexer/
/src/main/java/gluon/contract/parsing/node/
/src/main/java/gluon/contract/parsing/parser/

target/
/sootOutput/
